<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>👋 HelloTrello</title>
  {% set css %}
    {% include "style.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
</head>
<body>
  <main>
    {% for card in trello %}
    <section class="diary-entry">
    <span class="entry-date">{{ card.due | postDate }}</span> 
    <span class="entry-description">
      {% markdown %}
        {{- card.desc | safe }}
      {% endmarkdown %}
      </span>
      <div class="entry-photos">
        {% for thing in card.attachments %}
          <img src="{{ thing.url }}" >
        {% endfor %}
      </div>
    </section>
    {% endfor %}
  </main>
</body>
</html>
